*read.me
*.env
*sqlite3
/home/blac/Documents/MY-PROJECT/I4G_Hackathon/account/migrations/__pycache__/
/home/blac/Documents/MY-PROJECT/I4G_Hackathon/account/__pycache__/
/home/blac/Documents/MY-PROJECT/I4G_Hackathon/Jmac/__pycache__/
__pycache__/